---
import { SITE_TITLE } from '../config';
import { seo,seotext,fast,fasttext,green,greentext } from '../data/home';
---
<div class="col-md-4 p-3 p-md-5">
<h3 class="display-4"><strong><a href="/" title={SITE_TITLE}>{seo}</strong></a></h3>
<p>{seotext}</p>
</div>
<div class="col-md-4 p-3 p-md-5">		
<h3 class="display-4"><strong><a href="/" title={SITE_TITLE}>{fast}</strong></a></h3>
<p>{fasttext}</p>
</div>
<div class="col-md-4 p-3 p-md-5">		
<h3 class="display-4"><strong><a href="/" title={SITE_TITLE}>{green}</strong></a></h3>
<p>{greentext}</p>
</div>